# ignore all hidden files/dirs
.*

# do not ignore hidden git files/dirs
!.gitignore
!.git

# keep data directory, but ignore data
data/*/
output/
# ignore model files
*.th

# ignore jupyter checkpoints at all levels
**/.ipynb_checkpoints/

# ignore the example ZSL project (we can clone if from the notebook)
src/zero-shot/cvcZSL
